<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta charset = "utf-8"/>
    <title> Home </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="https://kit.fontawesome.com/f5ffdce5b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{{ url_for('static', filename='3.png') }}">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <h1><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='1.png') }}" height="100px"></a> ThemeSpace</h1>
            </div>
            <div class="right-side">
                Not Logged In.
                <div class="name" style="width: 100%">
                    <a href="/login" class = "btn-sm btn-success btn-lg" role="button">log in</a>
                    <a href="/signup" class = "btn-sm btn-success btn-lg" role="button">sign up</a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class = "welcome-page">
                <p>We are three high school students from Toronto who have created ThemeSpace for the New Year New Hack 2021 Hackathon. Inspired by some of our previous projects and <a href="https://www.youtube.com/watch?v=NVGuFdX5guE" target="_blank">this</a> CGP Grey video, ThemeSpace provides a social platform for New Year’s resolution/theme chasers to both record and share their progress. Using an innovative tagging system, ThemeSpace can also recommend new activities to users based on their logged actions.</p>
                <p>But why ThemeSpace? Why not ResolutionSpace, or NewYearSpace? As CGP Grey points out, having a theme for the new year instead of a specific goal can be better for personal improvement. This is because when it comes to personal improvement, any progress is good progress. There doesn’t need to be a goal that you must hit, like 25 points to win a volleyball set. Instead, look at it like a practice, where any touches you get help you improve.</p>
                <p>Having a theme allows you to see your choices in a different perspective, which falls in direct opposition to the tunnel vision you might get if you have a specific goal. For example, if your resolution is to do 20 pushups a day because you want to get healthier, you may get better at doing pushups, but you won’t necessarily get healthier; there is no guarantee you eat properly, sleep properly, and so on.</p>
                <p>On ThemeSpace, you can post what you have done towards your theme, see posts from other users, and get posts recommended to you based on how you tag your own posts. Enjoy, good luck with your resolutions, and Happy New Year! Let’s hope 2021 is better :)</p>
                <div style="text-align: center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NVGuFdX5guE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <footer class = "page-footer">
        <div class = "icons">
            <a href="https://github.com/UserBlackBox/theme-tracker" title="Github">
                <div class = "image">
                    <img src="{{ url_for('static', filename='github.png') }}" class="current-image" alt="Github" height="32">
                </div>
            </a>
        </div>
        This project was created for <a href="https://newyearnewhack.devpost.com/">New Year New Hack</a>.
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
